* {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
  font-family: "Inter";
  margin: 0;
}

h4 {
  font-size: 14px;
}

body,
html {
  background-color: #141414;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 531px;
  width: 304px;
  padding: 40px;
  background-color: hsl(0, 0%, 12%);
  border-radius: 12px;
}

.avatar {
  height: 88px;
  border-radius: 50%;
}

.info,
.bio {
  /* padding: 24px 0 0 0; */
  align-self: center;
}

.name,
.bio {
  color: #fff;
}

.from {
  color: #c4f82a;
  font-weight: 600;
}

.bio {
  font-weight: 400;
}

.list {
  width: 100%;
  padding: 0px;
}

.btn {
  background-color: hsl(0, 0%, 20%);
  color: white;
  border: none;
  display: grid;
  cursor: pointer;
  margin-bottom: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 45px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}

.btn-5 {
  margin: 0;
}

.btn:hover {
  background-color: #c4f82a;
  transition: 0.3s ease-in;
  color: black;
}
